NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

#TENANTS_B64=WwogIHsKICAgICJpZCI6ICIiLAogICAgIm5hbWUiOiAiUHVibGljIgogIH0sCiAgewogICAgImlkIjogIjEiLAogICAgIm5hbWUiOiAiT3Blbk1lZXQiCiAgfSwKICB7CiAgICAiaWQiOiAidGVzdGluZyIsCiAgICAibmFtZSI6ICJUZXN0aW5nIgogIH0KXQ==
TENANTS_B64=WwogIHsKICAgICJpZCI6ICIiLAogICAgIm5hbWUiOiAiUHVibGljIiwKICAgICJtZXNzYWdpbmdSYXRlTGltaXQiOiAyMAogIH0sCiAgewogICAgImlkIjogIjEiLAogICAgIm5hbWUiOiAiT3Blbk1lZXQiLAogICAgIm1lc3NhZ2luZ1JhdGVMaW1pdCI6IDIwCiAgfSwKICB7CiAgICAiaWQiOiAidGVzdGluZyIsCiAgICAibmFtZSI6ICJUZXN0aW5nIiwKICAgICJtZXNzYWdpbmdSYXRlTGltaXQiOiAyMAogIH0KXQo=
# Test tenant, must exist in the TENANTS_B64 variable
TEST_TENANT_ID=testing

# Admin of the installation
ADMIN_EMAIL=admin@openmeet.net
ADMIN_PASSWORD=secret

# Test user
TEST_USER_EMAIL=test@openmeet.net
TEST_USER_PASSWORD=secret

DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME=api
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=1000
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=
DATABASE_URL=

# Support "local", "s3", "s3-presigned"
FILE_DRIVER=local
ACCESS_KEY_ID=None
SECRET_ACCESS_KEY=None
AWS_S3_REGION=None
AWS_DEFAULT_S3_BUCKET=None

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@openmeet.net
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d
AUTH_FORGOT_SECRET=secret_for_forgot
AUTH_FORGOT_TOKEN_EXPIRES_IN=30m
AUTH_CONFIRM_EMAIL_SECRET=secret_for_confirm_email
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

APPLE_APP_AUDIENCE=[]

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

WORKER_HOST=redis://redis:6379/1

# LIVENESS_PROBE_API_URL=https://api.openmeet.net
# LIVENESS_PROBE_DOCS_URL=https://api.openmeet.net/docs

# Testing
TESTING_USER_EMAIL=testing.user@openmeet.net
TESTING_USER_PASSWORD=secret
TESTING_USER_ID=1
TESTING_ADMIN_EMAIL=testing.admin@openmeet.net
TESTING_ADMIN_PASSWORD=secret
TESTING_ADMIN_ID=2
TESTING_TENANT_ID=testing

# Zulip
ZULIP_USERNAME=
ZULIP_API_KEY=
ZULIP_REALM=


# ElastiCache Configuration
ELASTICACHE_HOST=redis
ELASTICACHE_PORT=6379
ELASTICACHE_AUTH=false
ELASTICACHE_REJECT_UNAUTHORIZED=false
ELASTICACHE_TLS=false
# If using auth
ELASTICACHE_TOKEN=1234567890

# Matrix configuration for CI testing
MATRIX_HOMESERVER_URL=http://matrix:8448
MATRIX_SERVER_NAME=matrix-ci.openmeet.test
MATRIX_ADMIN_USERNAME=admin
MATRIX_ADMIN_PASSWORD=admin_secret_password
MATRIX_REGISTRATION_SECRET=ci_test_registration_secret